<!DOCTYPE html>
<html ng-app="sinav">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="../../favicon.ico">

  <title>Online Sınav</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
  <script src="script.js"></script>
  <link href="style.css" rel="stylesheet">
</head>

<body ng-controller="sinavapp">

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <img src="http://i.imgur.com/WNkXabA.png" width="250" height="30"></img>
      </div>
      <div class="panel-body">
        <!--Navbar -->

        <h2>Bilgisayar Programcılığı  <small>Bilişim sistemleri online sınavı</small></h2>
        <hr>
        <div class="row">
          <!--Soru tabları  -->
          <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <strong>Sorular</strong>
                <div class="list-group" ng-init="currentTab = 0; class = false">
                  <a ng-repeat="question in questions " class="list-group-item {{addClass(class)}}" ng-class="" ng-click="onClickTab(question)">
                    <h4>{{question.title}}</h4>
                  </a>
                  <div>
                    <!--a href="#" class="list-group-item list-group-item-success">Soru 1 
                                    <span class="glyphicon glyphicon-ok-circle" ></span>
                                    <span class="glyphicon glyphicon-refresh" ></span>
                                  </a>
                                  <a href="#" class="list-group-item list-group-item-success">Soru 2 <span class="glyphicon glyphicon-ok-circle" ></span></a>
                                  <a href="#" class="list-group-item list-group-item-success">Soru 3 
                                    <span class="glyphicon glyphicon-ok-circle" ></span>
                                    <span class="glyphicon glyphicon-refresh" ></span>
                                  </a>
                                  <a href="#" class="list-group-item active">Soru 4 
                                    <span class="glyphicon glyphicon-pencil" ></span>
                                  </a>
                                  <a href="#" class="list-group-item list-group-item-warning">Soru 5 
                                    <span class="glyphicon glyphicon-ban-circle" ></span>
                                  </a-->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Soru içeriği  -->
          <div class="col-md-7">
            <div class="panel panel-default">
              <div class="panel-heading">{{questions[currentTab].title}}
                <span class="glyphicon glyphicon-pencil"></span>
                <input type="checkbox">Tekrardan gözat
              </div>
              <div class="panel-body">
                <div class="tab-content">
                  <mark>{{questions[currentTab].question}}</mark>
                  <div class="radio" ng-repeat="option in (questions[currentTab].options)">
                    <label><input type="radio" name=" k" ng-click="class= true"ng-model="l"  ng-value="option"  />
                    {{option.name}}</label>
                  </div>
                </div>
              </div>
              <nav>
                <ul class="pager">
                  <li><a href="#" ng-click="onClickPB(currentTab)" ng-disabled="k">Önceki Soru </a></li>
                  <li><a href="#" ng-click="onClickNB(currentTab, questions.length)">Sonraki Soru</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <!--Sınav Durumu  -->
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading">Sınavı Sonlandır</div>
              <div class="panel-body">
                <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-eye-open"></span> Sınavı Gözden Geçir ve Bitir</button>
                <hr>
                <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span> Sınavı Bitir</button>
              </div>
            </div>
          </div>

          <!--Sınav Durumu  -->
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading">Sınav Durumu</div>
              <div class="panel-body">
                <div class="progress">
                  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    Sınavınızın %60 ını tamamladınız
                  </div>
                </div>
                <button class="btn btn-primary" type="button">
                  Toplam Soru Sayısı <span class="badge">5</span>
                </button>
                <button class="btn btn-success" type="button">
                  Cevaplanmış Soru Sayısı <span class="badge">3</span>
                </button>
                <button class="btn btn-warning" type="button">
                  Boş Soru Sayısı <span class="badge">2</span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /container -->
    </div>
  </div>
</body>

</html>
